<!-- <toaster-container toaster-options="{'close-button':false, 'time-out':{ 'toast-warning': 2000, 'toast-error': 5000, 'toast-success': 5000 } }"></toaster-container> -->
    
    <div class="jumbotron">
        
        <div> 
            <div class="home-image-layout col-xs-offset-4 col-sm-offset-0 col-xs-8 col-sm-2"> 
                <img class="img-rounded" 
                src="/app/assets/images/Riverviewcrest.png" style="width: 100px; height: 96px;"> 
            </div> 
            <div class="home-title-layout col-xs-12 col-sm-10"> 
                <h2>St Thomas Lost Property App</h2> 
                This is the place to track and search for any items you may have lost during your time at St Thomas. Enjoy!
            </div> 
            <div class="row ">
                <div class="find-button col-sm-offset-2 col-sm-10">
                    <a class="btn btn-primary btn-lg" [routerLink]="['/find']" role="button">Find an item</a>
                </div>
            </div>    
        </div>
        
    </div>
