
  <div class="well well-lg">
    <div>
            <h3>Login using your email address and password</h3>
    </div>   
        <form  autocomplete="off" #loginForm="ngForm" (ngSubmit)="login(loginForm.value)">
            <div class="row">
                <div class="form-group col-sm-6">
                    <label for="email">Email</label>
                    <input type="text" required="" 
                            (ngModel)="email" 
                            name="email"                              
                            class="form-control" 
                            id="email" 
                            placeholder="Email Address"
                            required>
                    <div class="help-block">
                        <em *ngIf="loginForm.controls.email?.touched && loginForm.controls.email?.invalid" >Email is required</em>
                    </div>    
                </div>
            </div>
            <div class="row">      
                <div class="form-group col-sm-6">
                    <label for="email">Password</label>
                    <input type="password" required="" 
                            name="password" 
                            (ngModel)="password"    
                            class="form-control" 
                            id="password" 
                            placeholder="Password"
                            required>
                    <div class="help-block">
                        <em *ngIf="loginForm.controls.password?.touched && loginForm.controls.password?.invalid">Password is required</em>
                    </div>    
                </div>
            </div>  
            <div class="form-group">
                <div >
                <button type="submit" [disabled]="loginForm.invalid" class="btn btn-primary">Submit Login</button>
                </div>
            </div>
        </form>
    </div>        
