


<div class="input-group date-input">
  <input type="text" 
        class="form-control"  
        disabled
        [value]="data | date:'dd/MM/yyyy'" 
        (change)="onChange($event)" 
        (keyup)="onChange($event)">
    <span class="input-group-addon glyphicon glyphicon-calendar"  (click)="showDatePicker('dateLost')"></span>
    <span class="input-group-addon glyphicon glyphicon-remove"  (click)="clearDate()"></span>

</div>
<div class="dateInputHidden" id="dateLost">
    <datepicker [(ngModel)]="data" (selectionDone)="newDateSelected($event)" [showWeeks]="true" [dateDisabled]="dateDisabled"></datepicker>
</div>
   