
  <div class="well well-lg">
    <div>
            <h3>Login using your email address and password</h3>
    </div>   
        <form  autocomplete="off" #loginForm="ngForm" (ngSubmit)="login(loginForm.value)">
            <div class="row">
                <div class="form-group col-sm-6" [ngClass]="{ 'has-error': loginForm.$submitted && loginForm.email.$invalid}">
                    <label for="email">Email</label>
                    <input type="text" required="" 
                            (ngModel)="email" 
                            name="email"                              
                            class="form-control" 
                            id="email" 
                            placeholder="Email Address"
                            required>
                    <div class="help-block"  
                        ng-messages="loginForm.email.$error" 
                        ng-show="loginForm.$submitted">
                        <p ng-message="required">Email is required</p>
                    </div>    
                </div>
            </div>
            <div class="row">      
                <div class="form-group col-sm-6" [ngClass]="{ 'has-error': loginForm.$submitted &&loginForm.password.$invalid}">
                    <label for="email">Password</label>
                    <input type="password" required="" 
                            name="password" 
                            (ngModel)="password"    
                            class="form-control" 
                            id="password" 
                            placeholder="Password"
                            required>
                    <div class="help-block"  
                        ng-messages="loginForm.password.$error" 
                        ng-show="loginForm.$submitted">
                        <p ng-message="required">Password is required</p>
                    </div>    
                </div>
            </div>  
            <div class="form-group">
                <div >
                <button type="submit" class="btn btn-primary">Submit Login</button>
                </div>
            </div>
        </form>
    </div>        
